/*Do not forget to describe the styles for:focus!*/
:focus {
outline:0;
}
body {
line-height:1;
}
ol, ul {
list-style:none;
}
/*For tables still need to write 'cellspacing="0"' in code*/
table {
border-collapse:collapse;
border-spacing:0;
margin: auto;
}
caption, th, td {
text-align:center;
font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
/*End NULL*/

body {
 font-family:Tahoma, Verdana, Arial, 'Sans Serif';
 margin:20px;
}

.dynamic {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	border-collapse:separate;
	border-radius:3px;
    box-shadow: 0 1px 2px #d1d1d1;
}

.dynamic th {
	font-weight:bold;
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
}
.dynamic th:first-child{
	text-align: left;
	padding-left:20px;
}
.dynamic tr:first-child th:first-child{
	border-top-left-radius:3px;
}
.dynamic tr:first-child th:last-child{
	border-top-right-radius:3px;
}
.dynamic tr{
	text-align: center;
	padding-left:20px;
}
.dynamic tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.dynamic tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
}
.dynamic tr:nth-child(even) td{
	background: #f6f6f6;
}
.dynamic tr:last-child td{
	border-bottom:0;
}
.dynamic tr:last-child td:first-child{
	border-bottom-left-radius:3px;
}
.dynamic tr:last-child td:last-child{
	border-bottom-right-radius:3px;
}
.dynamic tr:hover td{
	background: #f2f2f2;
}

.dynamic a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.dynamic a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.dynamic a:active,
.dynamic a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

.text-center{
	margin-left: 19.3%;
}
